/Gai.Backend/.vs
/Gai.Backend/Gai.Database/obj
/Gai.Backend/Gai.Database/bin
/Gai.Backend/Gai.Mind/obj
/Gai.Backend/Gai.Mind/bin
/Gai.Backend/Gai.Web/obj
/Gai.Backend/Gai.Web/bin
/Gai.Backend/packages
/Gai.Unity/Library
/Gai.Unity/Temp
/Gai.Unity/Gai.Unity.CSharp.csproj
/Gai.Unity/Gai.Unity.CSharp.Editor.csproj
/Gai.Unity/Gai.Unity.sln
/Gai.Unity/.vs
/Gai.Backend/Gai.Protocol/bin/Debug
/Gai.Backend/Gai.Protocol/obj/Debug
/Gai.Backend/Gai.Server/bin/Debug
/Gai.Backend/Gai.Server/obj/Debug
