<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog"
				 type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		<targets>
			<target name="consoleTarget"
					xsi:type="Console"
					layout="${longdate}|${level}|${callsite}|${message}|${exception:maxInnerExceptionLevel=5}"/>
			<target name="fileTarget"
					xsi:type="File"
					fileName="${basedir}/logs/${shortdate}.txt"
					layout="${longdate}|${level}|${callsite}|${message}|${exception:maxInnerExceptionLevel=5}"/>
		</targets>

		<rules>
			<logger name="*"
					minlevel="Trace"
					writeTo="fileTarget" />
		</rules>
	</nlog>
	<startup>
		<supportedRuntime version="v4.0"
						  sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="serverPort"
			 value="11111" />
	</appSettings>
</configuration>